* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* list-style: none; */
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    padding: 0 15%;
    height: 140px;
    line-height: 75px;
    background: #000;
    align-items: center;
    align-content: center;
}


nav .navbar-brand {
    color: #ffffff;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: .5px;
}

nav .nav-list {
    display: flex;
    list-style: none;
}

nav .nav-list .nav-item {
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
}

/* nav .nav-list .nav-item:hover {
    background: #b69955;
} */

nav .nav-list .nav-link {
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 500;
}



/* --------------------------------Drop Down */

ul li ul.dropdown li{
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    /* background: peru; */
    /* padding: 0 20px 0 20px; */
    }
    ul li ul.dropdown{
        /* width: 100%; */
        width: max-content;
        /* background:#22438c;  */
        position: absolute;
        z-index: 999;
        display: none;
         background-color: #000; 
        color: #fff;
        font-size: 1.188rem;
        color: white;
    
        
    }

    /* --------------------------Nav Bar Dropdovn after line hover */

ul li:hover ul.dropdown a::after{
    display: none;
}

.dropdown a:hover{
   background-color: #55595c;
   display: block;
   width: 100%;
   text-align: center;
}
ul li:hover ul.dropdown{
    display: block;
    background: black;
}
ul li:hover ul.dropdown a{
    color: white;    
}

    /* -------------------------Main Flex  */
    .flex-main{
        width: 1500px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 5em;
    }
    .flex-main-left{
        margin-left: 3em;
        font-weight: 300;
        
    }
    .flex-main h1{
        color: #292926;
    font-family: "Epilogue", Sans-serif;
    font-size: 57px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: -3px;
    margin-bottom: 1.2em;
    }
     .flex-main h4{
        color: #7A7A7A;
        margin-bottom: 1.6em;
       
     }

     .displayblock{
        width: 1500px;
        margin-left: 2em;
       margin-left: 22em;
       margin-bottom: 15em;
     }


     .displayblock h4{
        color: #7A7A7A;
        margin-bottom: 1.6em;
        margin-left: 3em;
        margin-top: 1.6em;
       margin-bottom: 3em;
     }
     .displayblock ul{
        margin-left: 6em;
        
     }
    .flex-main p, ul, h1{
        margin-bottom: 1.6em;
        line-height: 1.6
      
    }
/* ----------------------------------Info flex*/
/* .info-flex h2{
    color: #C59D64;
    font-family: "Mr De Haviland", Sans-serif;
    font-size: 50px;
    font-weight: 100
}
.contact-flex{
    display: flex;
    align-items: center;
    margin-bottom: 15em;
    background: #F2F5F7;
    height: 600px;
}

.info-flex h2{
    width: 1500px;
    margin-left: 5em;
    
}
.info-flex h1{
    margin-left: 15em;
}
.info-flex p{
    margin-left: 15em;
}

/* ----------------------------------Container info email*/
.container{
    margin-left: 2em;
    max-width: 800px;
    
    width: 800px;
    padding: 25px 40px 10px 40px;

}
.container .text{
    text-align: center;
    font-size: 35px;
    font-weight: 600;

}
.container form{
    padding: 30px 0 0 0;
}

.container form .form-row{
    display: flex;
    margin: 32px 0;

}
form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}
form .form-row .textarea{
    height: 70px;
}
.input-data input,
.textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-radius: 2px solid rgba(0,0,0, 0.12);
}
 .textarea textarea{
    resize: none;
    padding-top: 10px
 }
 .input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    
    transform: all 0.3s easy;
 }

 .textarea label{
    width: 100%;
    bottom:40px;
    background: #fff;
 }

 .input-data .underline{
position: absolute;
bottom: 0;
height: 2px;
width: 100%;

 }

 .input-data .underline:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #3498db;

 } 
 
@media (max-width: 991px) {
    .flex-main{
       flex-direction: column ;
       width: 850px;
       margin-top: 15em;
       
    }
    .displayblock{
        width: 850px;
        margin-left: 0;
    }
    .flex-main h1{
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }
    .displayblock h1{
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        margin-left: 2em;
    }

    nav .nav-list {
        display: grid;
        position: absolute;
        background: #000;
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
        margin-top: 30px;
    }

    nav .nav-list .nav-item {
        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid !important;
    }    

    nav .nav-list .nav-item {
        padding: 8px 30px;
    }
}

nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
}


input {
    display: none;
}

input:checked ~ nav .nav-list {
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}

