* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    padding: 0 15%;
    height: 140px;
    line-height: 75px;
    background: #404040;
    align-items: center;
    align-content: center;
}


nav .navbar-brand {
    color: #ffffff;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: .5px;
}

nav .nav-list {
    display: flex;
}

nav .nav-list .nav-item {
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
}

nav .nav-list .nav-item:hover {
    background: #b69955;
}

nav .nav-list .nav-link {
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 935px) {

    nav {
        padding: 0 2rem;
    }

    nav .nav-list .nav-item {
        padding: 0 40px;
    }

}

/* --------------------------------Drop Down */

ul li ul.dropdown li{
    display: block;
    }
    ul li ul.dropdown{
        /* width: 100%; */
        width: max-content;
        background:#22438c; 
        position: absolute;
        z-index: 999;
        display: none;
         background-color: #000; 
        color: #fff;
        font-size: 1.188rem;
        color: white;
    
        
    }

    /* --------------------------Nav Bar Dropdovn after line hover */

ul li:hover ul.dropdown a::after{
    display: none;
}

.dropdown a:hover{
   background-color: #55595c;
}
ul li:hover ul.dropdown{
    display: block;
}
ul li:hover ul.dropdown a{
    color: white;
    
}

    /* -------------------------Main Flex  */
    .flex-main{
        width: 1500px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 5em;
    }
    .flex-main-left{
        margin-left: 3em;
        font-weight: 300;
        
    }
    .flex-main h1{
        color: #292926;
    font-family: "Epilogue", Sans-serif;
    font-size: 57px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: -3px;
    margin-bottom: 1.2em;
    }
     .flex-main h4{
        color: #7A7A7A;
        margin-bottom: 1.6em;
     }
    .flex-main p, ul{
        margin-bottom: 1.6em;
        line-height: 1.6
      
    }



@media (max-width: 991px) {
    .flex-main{
       flex-direction: column ;
       width: 850px;
       
    }
    .flex-main h1{
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }

    nav .nav-list {
        display: grid;
        position: absolute;
        background: #404040;
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
    }

    nav .nav-list .nav-item {
        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid !important;
    }

}

nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
}

input {
    display: none;
}

input:checked ~ nav .nav-list {
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}

